<%# <h1 class="text-center">Search and Summarize Book</h1>
<form>
  <div class="mb-3">
    <label for="bookTitle" class="form-label">Book Title</label>
    <input type="text" class="form-control" id="bookTitle">
  </div>
  <div class="input-group">
  <span class="input-group-text">Author: First and Last Name</span>
  <input type="text" aria-label="First Name" class="form-control">
  <input type="text" aria-label="Last Name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> %>

<%= form_tag('/summarize', method: :post) do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :author_first_name %>
  <%= text_field_tag :author_first_name %>
  <%= label_tag :author_last_name %>
  <%= text_field_tag :author_last_name %>
  <%= submit_tag 'Search' %>
<% end %>